.textColor1{
    color:orange;
    font-size:3rem;
}
.textColor2{
    color:royalblue;
    font-size:2rem;
    margin-top:70px;
}
.textColor3{
    margin-top:30px;
    
}
.bodyDiv1{
    margin-top:5rem;
    margin-left: 1rem;
}